version: 2.1
orbs:
  terraform: circleci/terraform@3.0.0
  aws-ecr: circleci/aws-ecr@0.0.4
  slack: circleci/slack@4.6.0

workflows:
  deploy_infra:
    jobs:
    - terraform/validate:
        checkout: true
        context: terraform
    - terraform/plan:
        checkout: true
        context: terraform
        persist-workspace: true
        requires:
        - terraform/validate
    - terraform/apply:
        attach-workspace: true
        context: terraform
        filters:
          branches:
            only: master
        requires:
        - terraform/plan
  


          



           

          


