version: 2.1
orbs:
  aws-ecr: circleci/aws-ecr@6.12.2
  aws-ecs: circleci/aws-ecs@1.3.0
jobs:
  build_and_test_backend:
    docker:
      - image: circleci/python:3.7.4
    steps:
      - checkout
      - run:
          name: Install Python dependencies
          command: |
            cd backend/
            echo 'export PATH=~$PATH:~/.local/bin' >> $BASH_ENV && source $BASH_ENV
            pip install --user -r requirements.txt
      - run:
          name: Run unit tests
          command: |
            pytest --junitxml=test-reports/junit.xml --html=test-reports/pytest_report.html --self-contained-html
      - store_test_results:
          path: test-reports
      - store_artifacts:
          path: test-reports
           
  build_and_test_frontend:
      docker:
        - image: nginx
      steps:
        - checkout
        - run:
            name: copying file
            command: |
              cd frontend/
              cp -r ~/project/frontend/. /usr/share/nginx/html
  build_and_push_to_ECR:
      docker:
        - image: ubuntu-2004:202010-01
      steps:
        - checkout
        - aws-ecr/build_and_push_to_ECR:
            account-url: ${AWS_ECR_ACCOUNT_URL}
            aws-access-key-id: ${AWS_ACCESS_KEY_ID}
            aws-secret-access-key: ${AWS_SECRET_ACCESS_KEY}
            region: ${AWS_REGION}
            repo: circleci
              #create-repo: true
            checkout: true
            dockerfile: Dockerfile
            path: ./project/backend/
            #tag: ${CIRCLE_SHA1}

workflows:
  version: 2
  build_and_test:
    jobs:
      - build_and_test_frontend
      - build_and_test_backend

  build_and_test2:
    version: 2
    push ECR:
    jobs:
      - build_and_push_to_ECR
